body {
  background-color: #C8B6A6;
  font-family: "Inter", sans-serif;
}

.App {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-align: center;
}

.container__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.menu__item {
  width: 340px;
  border: 1px solid #8D7B68;
  border-radius: 25px;
}

img {
  border-radius: 25px;
}

.item__container {
  margin: 0 20px;
}

.item__description {
  height: 70px;
}

.item__btn_add {
  margin-bottom: 20px;
}

.arrowBtn {
  padding: 20px;
  background-color: #C8B6A6;
  border: 1px solid #8D7B68;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.arrowBtn:hover {
  background-color: #8D7B68;
  border: 1px solid #C8B6A6;
}

.btn {
  padding: 10px 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  scale: 1.1;
}

.btn_add {
  background-color: #8D7B68;
  color: #C8B6A6;
}

.basket_container {
  width: 50%;
  margin: 50px auto;
  background-color: #FFF;
  border: 1px solid #8D7B68;
  border-radius: 25px;
}

li {
  list-style: none;
  margin-right: 20px;
}

.total {
  margin-left: 40px;
  color: #8D7B68;
}

.btn_basket {
  background-color: #C8B6A6;
  color: #8D7B68;
  text-transform: uppercase;
}

.container__btn_basket {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}